ethernet clpra0-0-20 - vlan:1700-1800 10000 xe-0/0/20 -
ethernet clpra0-0-21 - vlan:1700-1800 10000 xe-0/0/21 -
#ethernet pra-mx104 - vlan:1700-1800 10000 xe-0/0/22 -
#ethernet prg.gcs 1-pra-cz.gcs.geant.net:2019:topology#prex.cnsi.cesnet.cz-(in|out) vlan:1700-1800 10000 xe-0/0/23 -
#ethernet pra.cnsi.cesnet.cz pra.cnsi.cesnet.cz:2017:topology#prex.cnsi.cesnet.cz-(in|out) vlan:1700-1800 10000 xe-0/0/22 -
#ethernet brex.cnsi.cesnet.cz brex.cnsi.cesnet.cz:topology#prex.cnsi.cesnet.cz-(in|out) vlan:2201-2298 10000 xe-0/1/0 -
#ethernet netherlight netherlight.net:2013:production7#czechlight-1-(in|out) vlan:1779-1799 10000 xe-0/0/1 -
#ethernet ga upa.test.geant.test:2017:topology#cesnet-(in|out) vlan:1801-1820 10000 xe-0/0/23 -
#ethernet nlt upa.nlt.test:2017:topology#cesnet-(in|out) vlan:1821-1840 10000 xe-0/0/23 -
