[Unit]
Description=OpenNSA node
After=syslog.target network.target

[Service]
Environment=OPENNSA_CONFIGFILE=/etc/opennsa/opennsa-main.conf
Environment=REMOTE_DEBUG=0
EnvironmentFile=-/etc/opennsa/opennsa_environment
ExecStart=/opt/opennsa/venv/bin/twistd \
    --nodaemon \
    --pidfile= \
    -y /etc/opennsa/opennsa_node.tac
WorkingDirectory=/opt/opennsa/repo
User=opennsa
Group=opennsa
Restart=always


[Install]
WantedBy=multi-user.target