[service]
network=node11.domain1
logfile=/opt/opennsa/logs/node11.log

user=opennsa
host=127.0.0.1
port=9445

database=opennsamain
dbuser=opennsa
dbpassword=opennsapwd
dbhost=127.0.0.1
tls=false
rest=false
remlog=false
policy=allowhairpin

nrmmap=/etc/opennsa/opennsa-main.nrm

[dud]