[service]
network={{ network }}
logfile={{ logfile }}

user={{ app_user }}
host={{ opennsa_host }}
port={{ opennsa_port }}

database={{ postgres_db }}
dbuser={{ postgres_user }}
dbpassword={{ postgres_user_pass }}
dbhost={{ dbhost }}
tls={{ tls }}
rest={{ rest }}
remlog={{ remlog }}
policy={{ policy }}

nrmmap={{ nrmmap}}

[dud]