[Unit]
Description=OpenNSA3 node
After=syslog.target network.target

[Service]
Environment=OPENNSA_CONFIGFILE={{ config_file }}
Environment=REMOTE_DEBUG={{ remote_debug }}
EnvironmentFile={{ enviroment_file }}
ExecStart={{ home_path }}/venv/bin/twistd \
    --nodaemon \
    --pidfile= \
    -y {{ node_file }}
WorkingDirectory={{ working_directory }}
User={{ app_user }}
Group={{ app_user }}
Restart=always


[Install]
WantedBy=multi-user.target