<!--
        Set enabled="true" if you would like certificate DN authorization enforced.

        ** Read Access **
        The specified DN can only read contents of the DDS.

        <rule access="read">
            <dn>{{ read_access }}</dn>
        </rule>

        ** Write Access **
        The specified DN can read contents of the DDS, and write contents of the DDS
        for a specific nsaId.

        <rule access="write">
            <dn>{{ write_access }}</dn>
            <nsaId>{{ write_nsa_id_1 }}</nsaId>
        </rule>

        ** Admin Access **
        The specified DN can read contents of the DDS, and write all contents of the
        DDS including notifications.  DNs listed here also have access to the DDS portal.

        <rule access="admin">
            <dn>{{ admin_access }}</dn>
        </rule>

        ** Peer Access **
        The specified DN can read contents of the DDS, can create/modify/edit their own
        susbscriptions, write contents of their own documents, and deliver notifications.
        Add neId to restrict writing documents to the DNs listed here.

        <rule access="peer">
            <dn>{{ peer_access }}</dn>
        </rule>

    -->
    <accessControl enabled="{{ access_control_enabled }}">
        <rule access="peer">
            <dn>{{ peer_access }}</dn>
            <nsaId>{{ peer_nsa_id_1 }}</nsaId>
            <nsaId>{{ peer_nsa_id_2 }}</nsaId>
        </rule>
    </accessControl>