<tns:dds xmlns:tns="http://schemas.es.net/nsi/2014/03/dds/configuration"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- we need to set this to the uPA's NSA ID so that the local networks are discovered correctly -->
    <nsaId>urn:ogf:network:icair.org:2013:nsa:nsi-am-sl</nsaId>
    <documents>config/documents</documents>
    <cache>config/cache</cache>
    <repository>config/repository</repository>
    <expiryInterval>600</expiryInterval>
    <baseURL>http://nsi-am-sl.northwestern.edu/dds</baseURL>

    <!-- DDS service interfaces. -->
    <peerURL type="application/vnd.ogf.nsi.dds.v1+xml">https://nsi-aggr-west.es.net/discovery</peerURL>
    <peerURL type="application/vnd.ogf.nsi.dds.v1+xml">https://agg.netherlight.net/dds</peerURL>

    <!-- Old AutoGOLE github discovery mechanism. -->
    <peerURL type="application/vnd.ogf.nsi.topology.v1+xml">https://raw.github.com/jeroenh/AutoGOLE-Topologies/master/master.xml</peerURL>
</tns:dds>